li {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
h2{
    margin-top:20px;
    font-size:20px;
    padding:3px;
}
span {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
.imagem {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
}
span.preco{
    margin-top:20px;
    font-size:20px
}
.card {
    border-radius: 30px;
    margin: 10px;
    box-shadow: 2px 3px 3px black;
}
h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
    color: deeppink;
    text-shadow: 1px 1px white, -1px -1px #444
}