html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
nav {
    background-color: deeppink;
}
footer{
    background-color:deeppink;
}
div footer a{
    color:aliceblue;
}