@model List<Devs2Blu.ProjetosAula.CSharpMVCRevisao.Models.GetListDataCardsDTO>
<link rel="stylesheet" href="~/css/produto.css" asp-append-version="true" />
@foreach (var item in Model)
{
    <div class="card" style="width: 230px;">
        <div class="imagem">
            <img src="@item.image_link" class="">
        </div>
        <div class="">
            <ul class="list-group">
                    <span>@item.name</span>
                <li>
                    <h2>Preço:</h2>
                    <span class="preco">R$:@item.price</span>
                </li>
            </ul>
        </div>
    </div>
}