<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<main id="sobre">
        <h1>Sobre Maquiagem</h1>
    <div class="conteudo principal">
        <img src="~/img/mulher-se-maquiando-com-pincel-1652408437510_v2_450x600.jpg">
    <p>
        A maquiagem é um dos acessórios de beleza mais presentes no dia a dia das mulheres. E se engana quem 
        pensa que maquiagem pode fazer mal à pele. O dermatologista Dr. Jardis Volpe ressalta os benefícios 
        da maquiagem como agente protetor da pele contra os agressores ambientais, além de conferir ao rosto
        uma melhor textura, coloração e uniformidade.
    </p>
    </div>
        <h1>Beneficios</h1>
    <div class="conteudo principal">
        
        <img class="primeiraimg" src="~/img/preparacao-pele.jpg">
    <p>
        Segundo o dermatologista, produtos de boa qualidade conseguem agir como um anteparo físico, já que as
        maquiagens mais modernas contam com vitaminas, antioxidantes, antipoluentes, ácido hialurônico e 
        ingredientes que proporcionam efeito tensor em sua fórmula, com a capacidade necessária para tratar a pele
    </p>
    </div>
</main>
